<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>FlipCards</title>
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script> 
    <script src="/assets/js/flipcards.js"></script>
</head>
<body>

    {{{ body }}}
    
</body>
</html>



