<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Flip Cards</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/flipcards.js"></script>



</head>
<body>

	<div class="container"> 

		{{{ body }}}

	</div>

	</body>
</html>




