<a href="/starterPage">  
  <button id="starterPage">HOME PAGE</button>     
</a>

<div id="container">
  <div class="news-main">  
    <h1 id="about-header">About Flipcards</h1>
      <div class="newstext">  
        <p>
        Welcome to FlipCards, a site designed to test your coding knowledge in different languages and prepare you for job interviews. The flashcards in these decks contain real-world interview questions that will set you up for success in your next technical coding interview. Check out the different decks of flashcards to test your coding knowledge.
        </p>

        <img src="/assets/img/whiteboard.jpg" style="width:600px; height: 250px">

      </div>
  </div>
</div>






<div class="news-main extra-marginx">
  <div id="funfacts" class ="extra-margin</div>"></div>
</div>