
 <h1>Flip Cards</h1>
        <!--<h3>Hover over the image below:</h3>-->
        
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
         <img src="cardFlip.png";alt="Avatar" style="width:600px;height:400px;">-->
            </div>
            <div class="flip-card-back">
                <!--<div style="background-image: url('cardFlipReverse.png');">-->
                <img src="cardFlipReverse.png";alt="" style="width:600px;height:400px;">
             
            </div>
          </div>
        </div>
        
