
<a href="/starterPage">  
  <button id="starterPage">HOME PAGE</button>     
</a>


<h1>Thank You</h1>

<div class="news-main extra-margin">
      <div class="newstext">
          <p>We will be in touch with you very soon!<br>
          <br>
      </div>
 </div>      