
 <a href="/starterPage">  
  <button id="starterPage">HOME PAGE</button>     
</a>

 <h1>Flip Cards Newsletter</h1>
 
        
<div class="bg">  

 <div class="news-main">
      <div class="newstext">
          <h1>Sign Up Now!</h1>
          <p>Learn, connect, and level up with the best technical interview trainer on the planet.<br>
          We will send you updates on language additions, training techniques and interview tips.<br>
      </div>
 </div>      

        <div class="news-main" onsubmit="return checkForm(this);>
          <div style="text-align: center">
            <form class="create-form" name="newsletterForm" >

            <div class="form-group">
              <label for="fn">First Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" id="fn" name="fname">
            </div>

            <div class="form-group">
              <label for="ln">Last Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" id="ln" name="lname">
            </div>

            <div class="form-group">
              <label for="em">Email Address:</label>
              <input type="text" id="em" name="email">
            </div>          

            <button type="submit">JOIN</button>
            </form>  

          </div>
         </div> 
      </div>

   
  


 




  


 
