
<div id="container">
 
 <h1>Flip Cards</h1>
  <div class="news-main">
      <div class="newstext">
         
          <p>The  best technical interview trainer on the planet.<br>
          Select any language to begin. Flip and Learn!<br>
      </div>
 </div>      

<div class="row">
  <div class="column">
  <div>
    <span class="imgContainer">
      <a href="/javascript"><button id="javascript" class="buttonOn">Javascript</button></a>
      <img src="/assets/img/cardfliptexture.png";alt="Avatar" style="width:400px;height:275px; margin: 20px">
    </span>
    <span class="imgContainer">
      <a href="/hypertext"><button id="hypertext" class="buttonOn">HTML</button></a>
      <img src="/assets/img/cardfliptexture.png";alt="Avatar" style="width:400px;height:275px; margin: 20px">
    </span>
  </div>
  <div class="column">
    <span class="imgContainer">
      <a href="/css"><button id="css" class="buttonOn">CSS</button></a>
      <img src="/assets/img/cardfliptexture.png";alt="Avatar" style="width:400px;height:275px; margin: 20px">
    </span>
    <span class="imgContainer">
      <a href="/mysql"><button id="mysql" class="buttonOn">mySQL</button></a>
      <img src="/assets/img/cardfliptexture.png";alt="Avatar" style="width:400px;height:275px; margin: 20px">
    </span>
  </div>
</div>

</div>